body {
    background: linear-gradient(to right, #ffde59, #ff914d, #455192);
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: rgb(255, 255, 255, 0.78);
    padding: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2rem 100%;
}

/* Header Nav-Link 
===================*/
#Sobre {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    font-size: 115%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.78);
}

#Sobre:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.78);
}

#Hist {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    font-size: 115%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.78);
}

#Hist:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.78);
}

#Prot {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    font-size: 115%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.78);
}

#Prot:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.78);
}

#Estud {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    font-size: 115%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.78);
}

#Estud:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.78);
}

#Andar {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    font-size: 115%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.78);
}

#Andar:hover{
    color: white;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.78);
}