#Protagonistas {
    background: rgb(255, 255, 255, 0.78);
    padding: 30px 50px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
    display: flex;
    /* coloca texto e imagem lado a lado */
    justify-content: space-between;
    /* cria espaço entre eles */
    align-items: flex-start;
    /* alinha pelo topo */
    gap: 5%;
    font-size: 100%;
}

.space-between-h2{
    margin-top: 3%;
}

.Espaço2 {
    margin-top: 5.4%;
}

#Roland {
    border-radius: 40px;
    margin-top: 30%;
}

#Angela {
    border-radius: 40px;
    margin-top: 20%;
}